server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_hostname }};
    # enforce https
    return 302 https://$server_name$request_uri;
}


server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ nginx_hostname }};
    ssl_certificate {{ nginx_pub_cert }};
    ssl_certificate_key {{ nginx_priv_cert }};

    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;
    add_header Referrer-Policy 'origin';
    add_header X-Frame-Options "SAMEORIGIN";
    client_max_body_size 10M;

    root {{ nginx_root }};
    index index.php;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }

}